*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

body {
  background-image: url("../images/back.jpg")
}
body {
  font: 100% sans-serif;
  margin: 0em;
  color: #666;
}

a {
  color: #3d6dbe;
  text-decoration: none;
}

a:focus,a:hover
 {
  color: #6594e0;
}

p {
  font-size: 1em;
  line-height: 1.8;
  margin-top: 0em;
}

img {
  max-width: 100%;
}
.container{
  flex:row;
}
.container a{
  color: black;
}
.sitename{
  font-size: 60px;
  margin-top: 10px;
  margin-bottom: 0px;
}
/*....Images....*/
#logo
{
  float:left;
  margin-top: 15px;;
  margin-left:20px;
  widows: 45px;
  height:30px;
  border-radius: 50%;
}
/*....Section....*/
.Reach p{
  text-align: center;
}
/*....Footer....*/
.footer ul {
  display:inline;
  text-align: center;
  text-decoration: none;
  padding-left: 0px; 
  color:black; 
}
.footer li {
  display:inline;
  text-align: center;
  text-decoration: none; 
  color:black;
}
.footer a{
  color: black;
  text-align: center;
}

.footer {
  margin-bottom: 1em;
  margin-bottom: 0px;
  text-align: center;
}
.objective {
  text-align: center;
  margin-top: 12em;
}

.objective h1{
  margin-top: 10em;
}

.Reach h1{
  text-align: center;
}

.newtwit{
  margin-left: 600px;
  margin-bottom: 1em;
  margin-bottom: 0px;
}
/*....Navigation....*/
.navigation {
  list-style: none;
  width: 100%;
  background:#444444;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;  -webkit-flex-flow: row wrap;
  justify-content: flex-start;
   }

   .navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
  width: 100%;
  padding-left: 85px;
  padding-right: 85px;
   }

   .navigation a:hover {
  background-color: #ddd;
  color: black;
   }
   


   @media all and (max-width: 800px) 
   {
  .navigation {
    justify-content: space-around;
  }
   }

   @media all and (max-width: 600px) 
   {
    .navigation {
      -webkit-flex-flow: column wrap;
      flex-flow: column wrap;
      padding: 0;
    } 
   .navigation a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.3);
    border-bottom: 1px solid rgba(0,0,0,0.1);
  }
    .navigation li:last-of-type a {
    border-bottom: none;
  }

   }
   body {
    margin: 0;
    padding: 0;
   }
   header {
    background-color: whitesmoke;
    text-align: center;
   }

   .header-div {
    position:fixed;
    background-color: #4C7DA3;
    top: 0px;
    right: 0px;
    left: 0px;
   }

   .container{
     display: flex;
     flex-direction: row;
  margin-bottom: 0px;
  margin-top: 0px;
  }

 .container img{
   width: 70px;
   height: 70px;
   margin: 10px;
   margin-bottom: 0px;
  }

 .sitename{
   margin-left: 0;
   color: black;
  }

   @media all and (max-width: 600px) {
  .content {
    font-family: 'Archivo', sans-serif;
    display: flex;
    flex-direction: column;
    color: #5B545 ;
  }
  h2 {
    display: flex;
    color: #4C7DA3;
    padding-top: 30px;
  }
  .container h1 {
    font-size: 5em;
    margin-top: 0.5em;
  }

@media screen and (min-width: 50em){
  .Objective{
    height:60px;
}
.footer {
  margin-bottom: 1em;
  color:black;
  
}
.footer ul li {
  display:inline;
  text-align: center;
  text-decoration: none;
  color:black;  }
}
}

/*........ Types of Yoga.........*/
.education {
  font-family: "Lato", sans-serif;
  line-height: 1.5;
  margin-bottom: 0;
  text-align: center;
  margin: 0 auto;
}

@media screen and (min-width: 40em) {
  .education {
    width: 70%;
  }
  .footer ul li {
    display:inline;
    text-decoration: none;
    text-align: center; 
   }
}
/*...........Reach.........*/ 
@media screen and (min-width: 50em){
.Reach h1{
  text-align: center;
}
.Reach p
{
  width:auto;
  letter-spacing: 1px;
  font-style:sans-serif;
  text-align: center;
}
}

/*...............Flex......*/
@media screen and (min-width: 50em)
{
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.flex-container > p {
  background-color: black;
  width: 225px;
  height: 150px;
  margin: 8px;
  color: wheat;
  text-align: center;
  line-height: 130px;
  font-size: 30px;
}
.flex {
  display: flex;
  justify-content: center;
  background-color:none;
}
.flex > div {
  background-color:none;
  width: 1000px;
  margin: 5px;
  line-height: 30px;
  font-size: 17px;
}
.flex ul li{
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  font-weight: 30;
}
.flex h2{
  font-family: 'Times New Roman', Times, serif;
  font-display: center;
  font-size: 25px;
  font-weight: 30;
}
.flex-container img{
  width:auto;
}
}